<form method="POST" action="/signup">
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Password" required />
  <button type="submit">Sign Up</button>
</form>